
    
@media (max-width: 1200px)
    .footer
        &_wrapper
            display: flex
            flex-wrap: wrap
        &_wrapper > div
            width: 50%
        
            &_sub
                margin-top: 70px
        &_prtnship
            margin-top: 10px
        &_block
            margin-top: 30px
            width: 290px
        &_descr
            margin-left: 5px
    .line
        width: 700px


@media (max-width: 992px)
    .footer
        
        &_prtnship
            margin-top: 20px
        &_wrapper
            &_sub
                margin-top: 20px
                // text-align: center
        &_partners
            margin-top: 0px
            
        &_block
            width: 290px
        &_descr
            margin-left: 5px
    .line
        width: 500px
        




@media (max-width: 768px)
    .footer
        &_wrapper
            display: flex
            flex-wrap: wrap
            &_sub
                margin-top: 30px
            &_prtnship
                margin-top: 50px
        &_wrapper > div
            width: 100%
        &_partners
            margin-top: 20px
            // margin-left: 3px
        &_descr
            min-width: 250px       
        &_block
            width: 250px
        
        &_line
            width: 500px

@media (max-width: 576px)
    .line
        width: 300px
    .footer
        flex-wrap: wrap
        &_clients
            text-align: center
        &_partners
            margin-top: 50px
            text-align: center
            margin-left: 35px
        &_prtnship
            margin-top: 40px
            text-align: center
        &_wrapper
            &_sub
                // margin-top: 50px
                text-align: center
        &_descr
            font-size: 18px
                
        &_social
            width: 215px
        &_icon
            &_wrapper
                // margin-right: -50px

.copy
    font-size: 10px

        
        

    


                
            