
    
@media (max-width: 1200px)
    .footer
        &_wrapper
            display: flex
            flex-wrap: wrap
        &_wrapper > div
            width: 50%
        &_line
                width: 100%


@media (max-width: 992px)
    .footer
        &_line
            display: none



@media (max-width: 768px)
    .footer
        &_wrapper
            display: flex
            flex-wrap: wrap
            &_sub
                margin-top: 30px
            &_prtnship
                margin-top: 50px
            
    .line
        display: none

@media (max-width: 576px)
    .line
        display: none
    .footer
        flex-wrap: wrap
        &_prtnship
            margin-top: 150px
        &_wrapper
            &_sub
                margin-top: 150px
        

    


                
            